body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 767px) {
    .container {
        height: 100vh;
        margin: 0;
    }
    .chat-box{
        height: 30vh !important;
    }
  }

.header {
    padding: 20px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.chat-box {
    padding: 20px;
    height: 400px;
    overflow-y: scroll;
}

.message {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.message.sender {
    background-color: #dcf8c6;
    align-self: flex-end;
}

.message.receiver {
    background-color: #eaeaea;
    align-self: flex-start;
}

.message-text {
    margin: 0;
}

.input-box {
    padding: 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
}

.input-box input[type="text"] {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.input-box button {
    padding: 8px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.input-box button:hover {
    background-color: #0056b3;
}

.letter-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #007bff;
}
.chat-box p{
    padding: 4px 10px;
    border-radius: 5px;
    margin: 0px;
    margin-bottom: 5px;
}




.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #dadada;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }