body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 767px) {
    .container {
        height: 100vh;
        margin: 0;
    }
    .chat-box{
        height: 70vh !important;
    }
  }

.header {
    padding: 20px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.chat-box {
    padding: 20px;
    height: 400px;
    overflow-y: scroll;
}

.message {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.message.sender {
    background-color: #dcf8c6;
    align-self: flex-end;
}

.message.receiver {
    background-color: #eaeaea;
    align-self: flex-start;
}

.message-text {
    margin: 0;
}

.input-box {
    padding: 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
}

.input-box input[type="text"] {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.input-box button {
    padding: 8px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.input-box button:hover {
    background-color: #0056b3;
}

.letter-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #007bff;
}
.chat-box p{
    padding: 4px 10px;
    border-radius: 5px;
    margin: 0px;
    margin-bottom: 5px;
}